<!DOCTYPE html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
          <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container" ng-controller="NarrowItDownController as narrowItDownCntrl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>
      <div class="form-group">
        <input type="text" ng-model="narrowItDownCntrl.searchTerm" placeholder="search term" class="form-control">
      </div>
      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrowItDownCntrl.doSearchTerm()">Narrow It Down For Me!</button>
      </div>

      <!-- found-items should be implemented as a component -->
     <div class="foundItems">
      <found-items items="narrowItDownCntrl.found" on-remove="narrowItDownCntrl.removeItem(itemIndex)"></found-items>
      <span class="nothing-found" ng-show="narrowItDownCntrl.shouldDisplayMessage">Nothing found!</span>
    </div>
    </div>
    
  </body>
</html>